*Filter the data with "Solar" production type.*

In [2]:
import pandas as pd

data = pd.read_csv("gen_hourly_MW_2025.csv", parse_dates=['datetime'])#, index_col='datetime')
data.head()

             datetime    Area Production Type  Generation (MW)
0 2025-01-01 00:00:00  BZN|ES         Biomass            382.0
1 2025-01-01 01:00:00  BZN|ES         Biomass            370.0
2 2025-01-01 02:00:00  BZN|ES         Biomass            369.0
3 2025-01-01 03:00:00  BZN|ES         Biomass            369.0
4 2025-01-01 04:00:00  BZN|ES         Biomass            369.0

In [3]:
# Filter for Solar production type only
solar_data = data[data['Production Type'] == 'Solar'].reset_index(drop=True)

# Convert MW to MWh (1 hour Ã— MW = MWh)
solar_data['Generation (MWh)'] = solar_data['Generation (MW)']
solar_data = solar_data.drop('Generation (MW)', axis=1)

print(solar_data.head())
print(solar_data.tail())

             datetime    Area Production Type  Generation (MWh)
0 2025-01-01 00:00:00  BZN|ES           Solar               4.0
1 2025-01-01 01:00:00  BZN|ES           Solar               4.0
2 2025-01-01 02:00:00  BZN|ES           Solar               4.0
3 2025-01-01 03:00:00  BZN|ES           Solar               4.0
4 2025-01-01 04:00:00  BZN|ES           Solar               4.0
                datetime    Area Production Type  Generation (MWh)
7047 2025-10-21 16:00:00  BZN|ES           Solar      11324.000000
7048 2025-10-21 17:00:00  BZN|ES           Solar       8866.000000
7049 2025-10-21 18:00:00  BZN|ES           Solar       4370.000000
7050 2025-10-21 19:00:00  BZN|ES           Solar        688.000000
7051 2025-10-21 20:00:00  BZN|ES           Solar         78.666667

In [4]:
print("Solar Data Types:")
print(solar_data.dtypes)
print("Missing Values in Solar Data:")
solar_data.isna().sum()

Solar Data Types:
datetime            datetime64[ns]
Area                        object
Production Type             object
Generation (MWh)           float64
dtype: object
Missing Values in Solar Data:

datetime            0
Area                0
Production Type     0
Generation (MWh)    0
dtype: int64

In [5]:
solar_data.describe()

                            datetime  Generation (MWh)
count                           7052       7052.000000
mean   2025-05-27 22:12:00.816789760       6523.310739
min              2025-01-01 00:00:00          0.000000
25%              2025-03-15 10:45:00        279.000000
50%              2025-05-27 22:30:00       1310.500000
75%              2025-08-09 09:15:00      13498.500000
max              2025-10-21 20:00:00      23999.000000
std                              NaN       7462.792663

In [6]:
solar_data.to_csv("actual_PV_2025.csv", index=False)